<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微电影</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
    <div class="top-nav">
        <div class="container clear-float">
            <div class="fl col-3">
                <span style="font-size: 20px;">微电影</span>
            </div>
            <div class="col-3 search-bar">
                    <input type="text">
                    <button>搜索</button>
            </div>
            <div class="fr">
                <a class="item" href="#">登录</a>
                <a class="item" href="#">注册</a>
                <a class="item" href="#">退出</a>
                <a class="item" href="#">会员</a>
            </div>
        </div>
    </div>
    <div class="bottom-nav">

    </div>
</body>
</html>