<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body style="background-image: url(../../static/images/02.png);">
    <div class="container">
        <div class="login-nav clear-float">
            <div style="padding: 20px 0px 0px 0px;">
                <h2 style="color: darkslategrey;">微电影-登录</h2>
            </div>
            <div class="text">
                <p>
                    <span>账号：</span>
                    <input type="text">
                </p>
            </div>
            <div class="text">
                <p>
                    <span>密码：</span>
                    <input type="text" >
                </p>
            </div>
            <div>
                <button style="width: 100px;">登录</button>
            </div>
            <div style="padding: 10px 0px 60px 0px;">
                <p>
                    <a href="#" class="item-login">用户注册</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="#" class="item-login">忘记密码</a>
                </p>
            </div>

        </div>
    </div>
</body>
</html>